# 1.2 Reading the Data

Importing required libraries

In [3]:
import json
import numpy as np
import pandas as pd
import unicodedata

Reading the player ids from "players.json" using the "wyID" key

In [4]:
with open('./data/players.json') as json_file:
    player_id_data = json.load(json_file)
    

salah_info = [player for player in player_id_data if 'Salah' in player['shortName']]
salah_player_id = salah_info[0]['wyId']
print(f'The player id of Salah is : {salah_player_id}')

kane_info = [player for player in player_id_data if 'Kane' in player['shortName']]
kane_player_id = kane_info[0]['wyId']
print(f'The player id of Kane is : {kane_player_id}')

debruyne_info = [player for player in player_id_data if 'De Bruyne' in player['shortName']]
debruyne_player_id = debruyne_info[0]['wyId']
print(f'The player id of De Bruyne is : {debruyne_player_id}')

aubameyang_info = [player for player in player_id_data if 'Aubameyang' in player['shortName']]
aubameyang_player_id = aubameyang_info[0]['wyId']
print(f'The player id of Aubameyang is : {aubameyang_player_id}')

The player id of Salah is : 120353
The player id of Kane is : 8717
The player id of De Bruyne is : 38021
The player id of Aubameyang is : 25867

Reading the team ids from "teams.json" using the "wyID" key

In [5]:
with open('./data/teams.json') as json_file:
    team_id_data = json.load(json_file)
    
eng_teams_data = [teams for teams in team_id_data if 'England' in teams['area']['name']]

liv_team = [team for team in eng_teams_data if 'Liverpool' in team['officialName']]
liv_team_id = liv_team[0]['wyId']
print(f'Liverpool team id is {liv_team_id}')

tot_team = [team for team in eng_teams_data if 'Tottenham' in team['officialName']]
tot_team_id = tot_team[0]['wyId']
print(f'Tottenham team id is {tot_team_id}')

city_team = [team for team in eng_teams_data if 'Manchester City' in team['officialName']]
city_team_id = city_team[0]['wyId']
print(f'Manchester City team id is {city_team_id}')

arsenal_team = [team for team in eng_teams_data if 'Arsenal' in team['officialName']]
arsenal_team_id = arsenal_team[0]['wyId']
print(f'Arsenal team id is {arsenal_team_id}')

Liverpool team id is 1612
Tottenham team id is 1624
Manchester City team id is 1625
Arsenal team id is 1609

Next, we read the Premier League matches and events datasets from matches_England.json and events_England.json

In [6]:
with open('./data/matches/matches_England.json') as json_file:
    matches_england_data = json.load(json_file)
    
with open('./data/events/events_England.json') as json_file:
    events_england_data = json.load(json_file)

# 1.3 Structuring the Data

Getting all the match data for the respective teams and putting it into a dataframe

In [7]:
liverpool_matches = [match for match in matches_england_data if '1612' in match['teamsData'].keys()]
tottenham_matches = [match for match in matches_england_data if '1624' in match['teamsData'].keys()]
city_matches = [match for match in matches_england_data if '1625' in match['teamsData'].keys()]
arsenal_matches = [match for match in matches_england_data if '1609' in match['teamsData'].keys()]

In [8]:
liverpool_matches_df = pd.DataFrame(liverpool_matches)
tottenham_matches_df = pd.DataFrame(tottenham_matches)
city_matches_df = pd.DataFrame(city_matches)
arsenal_matches_df = pd.DataFrame(arsenal_matches)

arsenal_matches_df.head(3)

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,referees,duration,competitionId
0,Played,4405654,38,"{'1609': {'scoreET': 0, 'coachId': 7845, 'side...",181150,2018-05-13 14:00:00,1609,The John Smith's Stadium,2500091,"Huddersfield Town - Arsenal, 0 - 1","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 384965, 'role': 'referee'}, {'r...",Regular,364
1,Played,4405654,31,"{'1609': {'scoreET': 0, 'coachId': 7845, 'side...",181150,2018-05-09 18:45:00,1631,King Power Stadium,2500022,"Leicester City - Arsenal, 3 - 1","May 9, 2018 at 8:45:00 PM GMT+2","[{'refereeId': 408156, 'role': 'referee'}, {'r...",Regular,364
2,Played,4405654,37,"{'1609': {'scoreET': 0, 'coachId': 7845, 'side...",181150,2018-05-06 15:30:00,1609,Emirates Stadium,2500080,"Arsenal - Burnley, 5 - 0","May 6, 2018 at 5:30:00 PM GMT+2","[{'refereeId': 385911, 'role': 'referee'}, {'r...",Regular,364

Next, we get all the events relevant to our 4 players -- Salah, Kane, De Bruyne & Aubameyang

In [9]:
salah_events_data = []
for event in events_england_data:
    if event['playerId'] == 120353:
        salah_events_data.append(event)
        
kane_events_data = []
for event in events_england_data:
    if event['playerId'] == 8717:
        kane_events_data.append(event)
        
debruyne_events_data = []
for event in events_england_data:
    if event['playerId'] == 38021:
        debruyne_events_data.append(event)
        
aubameyang_events_data = []
for event in events_england_data:
    if event['playerId'] == 25867:
        aubameyang_events_data.append(event)
        
salah_events_data_df = pd.DataFrame(salah_events_data)
kane_events_data_df = pd.DataFrame(kane_events_data)
debruyne_events_data_df = pd.DataFrame(debruyne_events_data)
aubameyang_events_data_df = pd.DataFrame(aubameyang_events_data)

aubameyang_events_data_df.head(3)

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
0,1,Ground attacking duel,"[{'id': 701}, {'id': 1802}]",25867,"[{'y': 87, 'x': 39}, {'y': 81, 'x': 32}]",2499970,Duel,1609,1H,114.591007,11,225784183
1,8,Simple pass,[{'id': 1801}],25867,"[{'y': 47, 'x': 68}, {'y': 37, 'x': 63}]",2499970,Pass,1609,1H,145.463728,85,225784197
2,8,Smart pass,[{'id': 1801}],25867,"[{'y': 52, 'x': 79}, {'y': 70, 'x': 93}]",2499970,Pass,1609,1H,341.651359,86,225784315

### Adding tags to the events data for players

From the tags2events.csv, we match the events tags that are relevant to our attacking players

- Goal : 101
- Assist : 301
- Key_Pass : 302
- Left_Foot : 401
- Right_Foot : 402

In [10]:
def add_event_tag(tags, tag_id):
    return tag_id in [tag['id'] for tag in tags]

In [11]:
salah_events_data_df['goal'] = salah_events_data_df['tags'].apply(lambda x: add_event_tag(x,101))
salah_events_data_df['assist'] = salah_events_data_df['tags'].apply(lambda x: add_event_tag(x,301))
salah_events_data_df['key_pass'] = salah_events_data_df['tags'].apply(lambda x: add_event_tag(x,302))
salah_events_data_df['left_foot'] = salah_events_data_df['tags'].apply(lambda x: add_event_tag(x,401))
salah_events_data_df['right_foot'] = salah_events_data_df['tags'].apply(lambda x: add_event_tag(x,402))

kane_events_data_df['goal'] = kane_events_data_df['tags'].apply(lambda x: add_event_tag(x,101))
kane_events_data_df['assist'] = kane_events_data_df['tags'].apply(lambda x: add_event_tag(x,301))
kane_events_data_df['key_pass'] = kane_events_data_df['tags'].apply(lambda x: add_event_tag(x,302))
kane_events_data_df['left_foot'] = kane_events_data_df['tags'].apply(lambda x: add_event_tag(x,401))
kane_events_data_df['right_foot'] = kane_events_data_df['tags'].apply(lambda x: add_event_tag(x,402))

debruyne_events_data_df['goal'] = debruyne_events_data_df['tags'].apply(lambda x: add_event_tag(x,101))
debruyne_events_data_df['assist'] = debruyne_events_data_df['tags'].apply(lambda x: add_event_tag(x,301))
debruyne_events_data_df['key_pass'] = debruyne_events_data_df['tags'].apply(lambda x: add_event_tag(x,302))
debruyne_events_data_df['left_foot'] = debruyne_events_data_df['tags'].apply(lambda x: add_event_tag(x,401))
debruyne_events_data_df['right_foot'] = debruyne_events_data_df['tags'].apply(lambda x: add_event_tag(x,402))

aubameyang_events_data_df['goal'] = aubameyang_events_data_df['tags'].apply(lambda x: add_event_tag(x,101))
aubameyang_events_data_df['assist'] = aubameyang_events_data_df['tags'].apply(lambda x: add_event_tag(x,301))
aubameyang_events_data_df['key_pass'] = aubameyang_events_data_df['tags'].apply(lambda x: add_event_tag(x,302))
aubameyang_events_data_df['left_foot'] = aubameyang_events_data_df['tags'].apply(lambda x: add_event_tag(x,401))
aubameyang_events_data_df['right_foot'] = aubameyang_events_data_df['tags'].apply(lambda x: add_event_tag(x,402))

aubameyang_events_data_df.head(3)

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,goal,assist,key_pass,left_foot,right_foot
0,1,Ground attacking duel,"[{'id': 701}, {'id': 1802}]",25867,"[{'y': 87, 'x': 39}, {'y': 81, 'x': 32}]",2499970,Duel,1609,1H,114.591007,11,225784183,False,False,False,False,False
1,8,Simple pass,[{'id': 1801}],25867,"[{'y': 47, 'x': 68}, {'y': 37, 'x': 63}]",2499970,Pass,1609,1H,145.463728,85,225784197,False,False,False,False,False
2,8,Smart pass,[{'id': 1801}],25867,"[{'y': 52, 'x': 79}, {'y': 70, 'x': 93}]",2499970,Pass,1609,1H,341.651359,86,225784315,False,False,False,False,False

### Adding data about the matches with player events

In [26]:
salah_events_data_df = pd.merge(salah_events_data_df, liverpool_matches_df, left_on='matchId', right_on='wyId', copy=False, how='left')

kane_events_data_df = pd.merge(kane_events_data_df, tottenham_matches_df, left_on='matchId', right_on='wyId', copy=False, how='left')

debruyne_events_data_df = pd.merge(debruyne_events_data_df, city_matches_df, left_on='matchId', right_on='wyId', copy=False, how='left')

aubameyang_events_data_df = pd.merge(aubameyang_events_data_df, arsenal_matches_df, left_on='matchId', right_on='wyId', copy=False, how='left')


aubameyang_events_data_df.head(3)

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,...,seasonId,dateutc,winner,venue,wyId,label,date,referees,duration,competitionId
0,1,Ground attacking duel,"[{'id': 701}, {'id': 1802}]",25867,"[{'y': 87, 'x': 39}, {'y': 81, 'x': 32}]",2499970,Duel,1609,1H,114.591007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Simple pass,[{'id': 1801}],25867,"[{'y': 47, 'x': 68}, {'y': 37, 'x': 63}]",2499970,Pass,1609,1H,145.463728,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,Smart pass,[{'id': 1801}],25867,"[{'y': 52, 'x': 79}, {'y': 70, 'x': 93}]",2499970,Pass,1609,1H,341.651359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Getting Premier League matches data

Creating 4 dataframes with all matches played by Liverpool, Tottenham, Manchester City & Arsenal in the Premier League

In [27]:
liverpool_matches_played_df = liverpool_matches_df[['date', 'label']].copy()
tottenham_matches_played_df = tottenham_matches_df[['date', 'label']].copy()
city_matches_played_df = city_matches_df[['date', 'label']].copy()
arsenal_matches_played_df = arsenal_matches_df[['date', 'label']].copy()

In [28]:
# convert date to utc 
liverpool_matches_played_df['date'] = (pd.to_datetime(liverpool_matches_df['date'], utc = True).dt.date).apply(lambda x: x.strftime('%Y-%m-%d'))
tottenham_matches_played_df['date'] = (pd.to_datetime(tottenham_matches_df['date'], utc = True).dt.date).apply(lambda x: x.strftime('%Y-%m-%d'))
city_matches_played_df['date'] = (pd.to_datetime(city_matches_df['date'], utc = True).dt.date).apply(lambda x: x.strftime('%Y-%m-%d'))
arsenal_matches_played_df['date'] = (pd.to_datetime(arsenal_matches_df['date'], utc = True).dt.date).apply(lambda x: x.strftime('%Y-%m-%d'))

arsenal_matches_played_df.head(3)

         date                               label
0  2018-05-13  Huddersfield Town - Arsenal, 0 - 1
1  2018-05-09     Leicester City - Arsenal, 3 - 1
2  2018-05-06            Arsenal - Burnley, 5 - 0

# Analyzing the Data

We now look at the performance of the 4 players based on the events dataframe we have created. We will also look at some statistics and plot the events.

In [29]:
salah_lf_goals = salah_events_data_df[salah_events_data_df['left_foot'] == True]['goal'].sum()
salah_rf_goals = salah_events_data_df[salah_events_data_df['right_foot'] == True]['goal'].sum()
salah_assist = salah_events_data_df[salah_events_data_df['assist'] == True]['assist'].sum()
print(f"Goal scored by Salah with the left foot: {salah_lf_goals}")
print(f"Goal scored by Salah with the right foot: {salah_rf_goals}")
print(f"Assists by Salah: {salah_assist}")
print('--------------------------------------------')

kane_lf_goals = kane_events_data_df[kane_events_data_df['left_foot'] == True]['goal'].sum()
kane_rf_goals = kane_events_data_df[kane_events_data_df['right_foot'] == True]['goal'].sum()
kane_assist = kane_events_data_df[kane_events_data_df['assist'] == True]['assist'].sum()
print(f"Goal scored by Kane with the left foot: {kane_lf_goals}")
print(f"Goal scored by Kane with the right foot: {kane_rf_goals}")
print(f"Assists by Kane: {kane_assist}")
print('--------------------------------------------')

debruyne_lf_goals = debruyne_events_data_df[debruyne_events_data_df['left_foot'] == True]['goal'].sum()
debruyne_rf_goals = debruyne_events_data_df[debruyne_events_data_df['right_foot'] == True]['goal'].sum()
debruyne_assist = debruyne_events_data_df[debruyne_events_data_df['assist'] == True]['assist'].sum()
print(f"Goal scored by De Bruyne with the left foot: {debruyne_lf_goals}")
print(f"Goal scored by De Bruyne with the right foot: {debruyne_rf_goals}")
print(f"Assists by De Bruyne: {debruyne_assist}")
print('--------------------------------------------')

aubameyang_lf_goals = aubameyang_events_data_df[aubameyang_events_data_df['left_foot'] == True]['goal'].sum()
aubameyang_rf_goals = aubameyang_events_data_df[aubameyang_events_data_df['right_foot'] == True]['goal'].sum()
aubameyang_assist = aubameyang_events_data_df[aubameyang_events_data_df['assist'] == True]['assist'].sum()
print(f"Goal scored by Aubameyang with the left foot: {aubameyang_lf_goals}")
print(f"Goal scored by Aubameyang with the right foot: {aubameyang_rf_goals}")
print(f"Assists by Aubameyang: {aubameyang_assist}")

Goal scored by Salah with the left foot: 25
Goal scored by Salah with the right foot: 5
Assists by Salah: 8
--------------------------------------------
Goal scored by Kane with the left foot: 10
Goal scored by Kane with the right foot: 13
Assists by Kane: 2
--------------------------------------------
Goal scored by De Bruyne with the left foot: 4
Goal scored by De Bruyne with the right foot: 3
Assists by De Bruyne: 16
--------------------------------------------
Goal scored by Aubameyang with the left foot: 3
Goal scored by Aubameyang with the right foot: 7
Assists by Aubameyang: 4

In [30]:
goals = [salah_events_data_df['goal'].sum(), kane_events_data_df['goal'].sum(), debruyne_events_data_df['goal'].sum(), aubameyang_events_data_df['goal'].sum()]
assists = [salah_events_data_df['assist'].sum(), kane_events_data_df['assist'].sum(), debruyne_events_data_df['assist'].sum(), aubameyang_events_data_df['assist'].sum()]
passes = [salah_events_data_df[salah_events_data_df['eventName'] == 'Pass'].count()['eventName'],
          kane_events_data_df[kane_events_data_df['eventName'] == 'Pass'].count()['eventName'],
          debruyne_events_data_df[debruyne_events_data_df['eventName'] == 'Pass'].count()['eventName'], 
          aubameyang_events_data_df[aubameyang_events_data_df['eventName'] == 'Pass'].count()['eventName']]
shots = [salah_events_data_df[salah_events_data_df['eventName'] == 'Shot'].count()['eventName'],
          kane_events_data_df[kane_events_data_df['eventName'] == 'Shot'].count()['eventName'],
          debruyne_events_data_df[debruyne_events_data_df['eventName'] == 'Shot'].count()['eventName'], 
          aubameyang_events_data_df[aubameyang_events_data_df['eventName'] == 'Shot'].count()['eventName']]
free_kicks = [salah_events_data_df[salah_events_data_df['subEventName'] == 'Free kick shot'].count()['subEventName'],
          kane_events_data_df[kane_events_data_df['subEventName'] == 'Free kick shot'].count()['subEventName'],
          debruyne_events_data_df[debruyne_events_data_df['subEventName'] == 'Free kick shot'].count()['subEventName'], 
          aubameyang_events_data_df[aubameyang_events_data_df['subEventName'] == 'Free kick shot'].count()['subEventName']]

In [31]:
stats_df = pd.DataFrame([goals, assists, passes, shots, free_kicks], columns = ['Salah', 'Kane', 'De Bruyne', 'Aubameyang'], index = ['Goals', 'Assists', 'Passes', 'Shots', 'Free Kicks'])
stats_df

            Salah  Kane  De Bruyne  Aubameyang
Goals          32    29          7          10
Assists         8     2         16           4
Passes        915   594       2672         303
Shots         136   162         74          26
Free Kicks      4    10         17           1

In [2]:
salah_events_data_df.to_pickle('./data/salah_events_data_df.pkl')
kane_events_data_df.to_pickle('./data/kane_events_data_df.pkl')
debruyne_events_data_df.to_pickle('./data/debruyne_events_data_df.pkl')
aubameyang_events_data_df.to_pickle('./data/aubameyang_events_data_df.pkl')

liverpool_matches_played_df.to_pickle('./data/liverpool_matches_played_df.pkl')
tottenham_matches_played_df.to_pickle('./data/tottenham_matches_played_df.pkl')
city_matches_played_df.to_pickle('./data/city_matches_played_df.pkl')
arsenal_matches_played_df.to_pickle('./data/arsenal_matches_played_df.pkl')

NameError: name 'salah_events_data_df' is not defined